@mixin w-h {
    width: 100%;
    height: auto; 
  }
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin flex-center1 {
    display: flex;
    align-items: center;
  }
  @mixin flex-center2 {
    display: flex;
    justify-content: center;
  }
  @mixin flex-spaceBetween-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @mixin background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }