
// Shadow
$box-shadow: 0 10px 10px #00000029;
// Color
$blue: #6696e2;
$grey: #86878b;
$darkGrey: #333333;
$blackGrey: #212121;
$lightGrey: #d8d8d8;
$peach: #e27866;
$otherPeach: #a37169;
$white: #ffffff;
$black: #000000;
$granite: #1c1c1c;
$green: #41d395;